@import "tailwindcss";



* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* for Internet Explorer and Edge */
  scrollbar-width: none; /* for Firefox */
}


/* autofill */
@layer utilities {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    @apply bg-[#121212] text-white;
    -webkit-box-shadow: 0 0 0px 1000px #121212 inset !important;
    -webkit-text-fill-color: white !important;
    caret-color: white !important;
    transition: background-color 9999s ease-in-out 0s !important;
  }
}










.insta-spinner {
  width: 22px;
  height: 22px;
  position: relative;
}

.insta-spinner div {
  transform-origin: 11px 11px;
  animation: insta-spin 1.2s linear infinite;
}

.insta-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 1px;
  left: 10px;
  width: 2px;
  height: 5px;
  border-radius: 20%;
  background: white;
}

.insta-spinner div:nth-child(1)  { transform: rotate(0deg);   animation-delay: -1.1s; }
.insta-spinner div:nth-child(2)  { transform: rotate(30deg);  animation-delay: -1s; }
.insta-spinner div:nth-child(3)  { transform: rotate(60deg);  animation-delay: -0.9s; }
.insta-spinner div:nth-child(4)  { transform: rotate(90deg);  animation-delay: -0.8s; }
.insta-spinner div:nth-child(5)  { transform: rotate(120deg); animation-delay: -0.7s; }
.insta-spinner div:nth-child(6)  { transform: rotate(150deg); animation-delay: -0.6s; }
.insta-spinner div:nth-child(7)  { transform: rotate(180deg); animation-delay: -0.5s; }
.insta-spinner div:nth-child(8)  { transform: rotate(210deg); animation-delay: -0.4s; }
.insta-spinner div:nth-child(9)  { transform: rotate(240deg); animation-delay: -0.3s; }
.insta-spinner div:nth-child(10) { transform: rotate(270deg); animation-delay: -0.2s; }
.insta-spinner div:nth-child(11) { transform: rotate(300deg); animation-delay: -0.1s; }
.insta-spinner div:nth-child(12) { transform: rotate(330deg); animation-delay: 0s; }

@keyframes insta-spin {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
